parameters:
    level: 5
    paths:
        - app
        - tests
    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Laravel Model static methods
        - '#Call to an undefined static method App\\Models\\[a-zA-Z0-9_]+::(create|where|select)\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::with\(\)#'
        
        # Request properties
        - '#Access to an undefined property Illuminate\\Http\\Request::\$[a-zA-Z0-9_]+#'
        
        # Model properties
        - '#Access to an undefined property App\\Models\\[a-zA-Z0-9_]+::\$[a-zA-Z0-9_]+#'
        
        # Auth facade
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory::user\(\)#'
        
        # Inertia
        - '#Call to static method render\(\) on an unknown class Inertia\\Inertia#'
        - '#Method [a-zA-Z0-9_\\]+::[a-zA-Z0-9_]+\(\) has invalid return type Inertia\\Response#'
        
        # Collection properties
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Collection<[^>]+>|Illuminate\\Database\\Eloquent\\Model::\$[a-zA-Z0-9_]+#'
        
        # Model methods
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Collection<[^>]+>|Illuminate\\Database\\Eloquent\\Model::(tags|comments)\(\)#'
        
        # RecipeComment replies method
        - '#Method App\\Models\\RecipeComment::replies\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany but returns Illuminate\\Database\\Eloquent\\Builder<App\\Models\\RecipeComment>#'